.outerContainer {
  margin-top: 60px;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.profileImage {
  width: 40%;
  text-align: center;

  & > img {
    border-radius: 50%;
    border: 2px solid #ccc;

    @media screen and (max-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }
}

.profileContent {
  width: 60%;

  & > h3 {
    margin-left: 20px;

    @media screen and (max-width: 768px) {
      margin-left: 0;
    }
  }
}

.language {
  margin-top: 30px;
}

.detail,
.language {
  text-align: center;

  @media screen and (max-width: 768px) {
    text-align: left;
  }
}

.snsIcons {
  display: flex;
  gap: 1em;
  margin-top: 30px;

  & > a:first-child {
    margin-left: auto;
  }
}

.grayText {
  font-size: 14px;
  color: #4b4b4b;
}
