body {
  font-family: "Noto Sans JP", sans-serif;
}

a {
  color: inherit;
}

section {
  margin: 50px auto 100px;
  max-width: 800px;
}

.tableContainer {
  margin: 30px auto;
}

.buttonContainer {
  display: flex;
  margin-top: 20px;
}

.projectButton {
  margin-top: 20px;
  margin-left: auto;
}
