a {
  color: inherit;
  text-decoration: none;
}

section {
  margin: 50px auto;
  max-width: 800px;
  /* padding: 0 20px; */
}
.tableContainer {
  margin: 30px auto;
}

.buttonContainer {
  display: flex;
  margin-top: 20px;
}

.projectButton {
  margin-top: 20px;
  margin-left: auto;
}
