.header {
  margin: 0 auto;
  max-width: 800px;
}

.titleContainer {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin: auto;
}

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}