.table {
  width: 100%;
  border: normal;
}

.td {
  padding: 10px 0;
}

.detailLine {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.projectDate {
  margin-right: 20px;
}
